#topo{
    background: green;
    
    
}
h2{
    color: red;
}
.container{
    display: flex;
    background: green;
    
}
#topo span{
    color: black;
    font-size: 16pt;
    font-family: cursive;
}
#rodape{
    background: green;
    font-family: cursive;
    
    text-align: center;
}
#texto{
    background: gainsboro;
    margin-top: 2%;
    padding: 12px;
    font-family: cursive;
    
    
}
#tx{
    color: gray;
}

