body {
background-image: url("Imagens/carrinho.png");
    background-repeat: no-repeat; 
    background-position: center center;
    height: 1000px;
 

}

.logo {

    display: block;
    padding: 12px;
    position: 
        relative;


}

p {
    font-size: 15px;
    font-style: inherit;
    font-family: sans-serif;
    margin: auto;
    padding: 12px;
    margin-top: 20px;
    text-decoration: underline;
}


span {
    padding: 12px;
    font-size: 15px;
    font-family: Arial;
}

#qnt {

    margin: auto;
    margin-left: 30px;
}

#qnt2 {

    margin: auto;
    margin-left: 30px;
}

#qnt3 {

    margin: auto;
    margin-left: 20px;
}

#quantidade {

    border: solid 1px gray;
    
    font-family: Arial;
    font-size: 15px;
    background-color: white;
    color: black;

    height: 30px;
    text-align: center;


}

#valor1 {

    margin: auto;
    margin-left: -20px;
    font-family: Arial;
    font-weight: bold;
}

#valor2 {

    margin: auto;
    margin-left: -20px;
    font-family: Arial;
    font-weight: bold;
}

#limpar {
    font-size: 13px;
    margin-left: 30px;
    width: 170px;
    height: 30px;
    text-align: center;
    background-color: white;
    color:black;
    font-weight: bold;
}

#adicionar {
    font-size: 13px;
    width: 170px;
    height: 30px;
    margin-left: 30px;
    text-align: center;
    background-color: white;
    color:black;
    font-weight: bold;

}

#fechar {
    font-size: 13px;
    margin-left: 30px;
    width: 170px;
    height: 30px;
    text-align: center;
    background-color: white;
    color:black;
    font-weight: bold;

}


#produto {


    font-family: Arial;
    font-size: 13px;
    background-color: white;
    
    text-align: center;
    color: black;
    width: 170px;
    height: 30px;
}


