h3{
    color: red;
}
th{
    font-size: 16pt;
    font-family: "Arial", Times, serif;
    color: blue;  
}
table{
    font-size: 16pt;
    font-family: "Arial", Times, serif;
}
#media{
    font-style: italic;
}
body{
    background: #f1f1f1;
    
}
#nota{
    font-weight: bold;
}